body{
    background-color: #0e0e0e;
}

/*navbar*/
/*intro*/
.navbar{
    position: fixed;
    z-index: 1;
    margin-top: 20%;
    margin-left: 2%;
}

.nav-intro a{
    position: absolute;
    color: #838383;
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
    /*rotate the word*/
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
    transform: rotate(-90deg);
    transform-origin: center;
    /*position*/
    margin-top:-150px; 
}

.nav-intro a:hover{
    color: #ffb802;
    text-decoration: underline;
}

/*description*/

.nav-desc a{
    position: absolute;
    color: #838383;
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
    /*rotate the word*/
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
    transform: rotate(-90deg);
    transform-origin: center;
    /*position*/
    margin-top: 60px;
}

.nav-desc a:hover{
    color: #ffb802;
    text-decoration: underline;
}

/*demostration*/

.nav-demo a{
    position: absolute;
    color: #838383;
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
    /*rotate the word*/
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
    transform: rotate(-90deg);
    transform-origin: center;
    /*position*/
    margin-top:300px; 
    margin-left: -10px;
}

.nav-demo a:hover{
    color: #ffb802;
    text-decoration: underline;
}


/*homepage or Introduction page*/

.header{
    position: absolute;
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 40pt;
    margin-left: 370px;
    margin-top: 348px;
}

.model{
    position: absolute;
    width: 577px;
    height: 903px;
    background-color: #c4c4c4;
    margin-left: 1046px;
    margin-top: 88px;
}

.intro{
    position: absolute;
    width: 630px;
    margin-left: 370px;
    margin-top: 483px;
    color: #d0d0d0;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

/*description page, the second part of the website*/

/*first part of research*/

.featureDescription1{
    position: absolute;
    margin-left: 1200px;
    margin-top: 1175px;
    color: #fff;
    font-size: 24pt;
}

.desc-img1{
    position: absolute;
    width: 900px;
    height: 519px;
    background-color: #c4c4c4;
    margin-top: 1175px;
    margin-left: 238px;
}

.descrip-word1{
    position: absolute;
    width: 630px;
    margin-left: 1200px;
    margin-top: 1250px;
    color: #d0d0d0;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

/*second part of research content*/

.featureDescription2{
    position: absolute;
    margin-left: 238px;
    margin-top: 1852px;
    color: #fff;
    font-size: 24pt;
}

.desc-img2{
    position: absolute;
    width: 900px;
    height: 519px;
    background-color: #c4c4c4;
    margin-top: 1852px;
    margin-left: 700px;
}

.descrip-word2{
    position: absolute;
    width: 630px;
    margin-left: 238px;
    margin-top: 1927px;
    color: #d0d0d0;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

/*motion graphic video goes to here 677*/

.motionvideo a{
    position: absolute;
    margin-left: 480px;
    margin-top: 2600px;
    padding-bottom: 100px;
}

.motion-explain{
    position: absolute;
    width: 800px;
    margin-left: 600px;
    margin-top: 2529px;
    color: #fff;
    font-size: 18pt;
}


